* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* Nav section */
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-top:90px
}
.nav-bar {
  display: flex;
  gap: 50px;
}
.store-name {
  font-weight: bold;
  font-size: 24px;
  color: rgba(58, 58, 58, 1);
}

.nav-bar li {
  list-style: none;
}
.nav-bar a {
  text-decoration: none;
}

/* Banner section */
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.banner-content {
  justify-content: center;
  margin-top: 50px;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(58, 58, 58, 1);
}

.banner-content p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-primary {
  background-color: #e02c6d;
  color: white;
  border-radius: 15px;
  padding: 24px 10px;
  width: 190px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.circle-img {
  width: 500px;
  height: 50px;
}
.main-camera {
  width: 100%;
  height: 70%;
  margin-left: 0px;
  margin-top: 10px;
}

/* Company logo section start */

.company-container {
  height: 90px;
  border: 0.5px solid rgb(161, 150, 150);
  padding: 35px;
}
.company-icon {
  display: flex;
  justify-content: space-around;
  height: 25px;
  gap: 60px;
}

/* Popular Collection start */
.collection-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.collection-container h2{
  font-size:30px;
  font-weight: 600;
  color:#3A3A3A;
}

.collection-card{
  width:330px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  padding:17px 16px 15px 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img{
  width:300px;
  height: 260px;
  border-radius: 8px;

}
.collection-card h3{
  font-size:28px ;
  font-weight: 500px;
  line-height: 40px;
  color:#18191F;
  margin-top:10px
}
.products-price{
  font-size: 24px;
  font-weight: 500px;
  height: 36px;
}

.collection-card p{
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  color:#787885;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:28px;
  margin-top: 30px;

}
.see-more{
  display: flex;
  justify-content: end;
  margin:50px ;
}

.see-more h4{
  font-size: 18px;
  font-weight: bold;
  color:rgba(224, 44, 109, 0.87);
}


/* Features Products start */
.features-container{
  display: flex;
}
.features-content{
  margin-left: 90px;
  height: 200px;
  max-width: 600px;
}
.features-content h1{
  font-size: 38px;
  font-weight: bold;
  line-height: 60px;
  color:#0A0826;
  margin-top:10px;
  
}

.features-content p{
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color:#6C6C6C;
  margin-top: 20px;

}
.features-content button{
  border-radius: 5px;
  margin-top: 20px;
}

/* Footer section start */
.footer{
  max-width: 100%;
  height: 250px;
  margin:0 auto;
  background-color: black;
 
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-content{
  margin-top: 30px;
}

.footer-content h3{
  color:white;
  font-size: 40px;
  font-weight: bold;
  
}
.footer-content p{
  color:#D9DBE1;
  font-size: 16px;
  font-weight: bold;
  margin-top:15px

}
.social-icon{
  color:white;
  font-size:32px;
  cursor: pointer;
 
  

}
.social-icon i{
  margin-left:20px;
}

.social-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


