/* Front  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
 
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* Nav section */
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.nav-bar {
  display: flex;
  gap: 50px;
}
.store-name {
  font-weight: bold;
  font-size: 24px;
  color: rgba(58, 58, 58, 1);
}

.nav-bar li {
  list-style: none;
  margin-left: -10px;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.nav-bar i {
  font-size: 24px;
}

/* Banner section */
.banner-container {
  /* border:2px solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 50px;
}
.banner-content {
  margin-top: 50px;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(58, 58, 58, 1);
}

.banner-content p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-primary {
  background-color: #e02c6d;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  height: auto;
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn-primary i {
  font-size: 24px;
}
.banner-img {
  margin-left: 60px;
}

.circle-img {
  width: 500px;
  height: 50px;
}
.main-camera {
  width: 90%;
  height: 75%;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .nav-section,
  .nav-bar {
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner-img {
    margin-top: 20px;
    justify-items: center;
  }
}

/* Company logo section start */

.company-container {
  height: 90px;
  border: 0.5px solid #3a3a3a;
  padding: 35px;
}
.company-icon {
  display: flex;
  justify-content: space-around;
  height: 25px;
  gap: 60px;
}
@media screen and (max-width: 576px) {
  .company-container {
    border: none;
  }
  .company-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Popular Collection start */
.collection-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.collection-container h2 {
  font-size: 30px;
  font-weight: 600;
  color: #3a3a3a;
}

.collection-card {
  width: 330px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  padding: 17px 16px 15px 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-img {
  width: 300px;
  height: 260px;
  border-radius: 8px;
}
.collection-card h3 {
  font-size: 28px;
  font-weight: 500px;
  line-height: 40px;
  color: #18191f;
  margin-top: 10px;
}
.products-price {
  font-size: 24px;
  font-weight: 500px;
  height: 36px;
}

.collection-card p {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  color: #787885;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
  
}
.see-more {
  display: flex;
  justify-content: end;
  margin: 50px;
}

.see-more h4 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(224, 44, 109, 0.87);
}

@media screen and (max-width: 576px) {
  .collection-container {
    flex-direction: column;
    align-items: center;
  }
  .collection-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Features Products start */
.features-container {
  display: flex;
}
.features-content {
  margin-left: 90px;
  height: 200px;
  max-width: 600px;
}
.features-content h1 {
  font-size: 38px;
  font-weight: bold;
  line-height: 60px;
  color: #0a0826;
  margin-top: 10px;
}

.features-content p {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #6c6c6c;
  margin-top: 20px;
}
.features-content button {
  border-radius: 5px;
  margin-top: 20px;
}

/* Footer section start */
.footer {
  max-width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: black;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-content {
  margin-top: 30px;
}

.footer-content h3 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.footer-content p {
  color: #d9dbe1;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}
.social-icon {
  color: white;
  font-size: 32px;
  cursor: pointer;
}
.social-icon i {
  margin-left: 20px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.display {
  display: none;
}
